body {
    background-color: rgb(45,45,45);
    margin: 0;
    padding: 0;
}
.gomb {
    height: 10vh;
    width: 20vw;
    border-color: black;
    background-color: darkgreen;
    border-radius: 10%;
    margin: auto;
    letter-spacing: 0.05em;
    padding: 0;
    font-size: 2vw;
}

.gomb:hover {
    background-color: #004000;
}

.gomb:focus {
    background-color: green;
}

